
.product__item {
    display: flex;
    flex-direction: column;
    height: 100%;
    
    border: 1px solid #fde4e4;
    text-align: center;
    padding: 30px;
    cursor: pointer;
    flex-direction: column;
    position: relative;
    
}

.product__img {
    top: 20px;
    transition: 0.4s ease-in-out;
}

.product__img:hover {
    transform: scale(0.8);
}

.product__content h5 {
    margin-bottom: 40px;

}

.product__content h5 a {
    color: #212245;
    font-size: 1rem;
}

.product__price {
    font-weight: 600;
    font-size: 1.2rem;
    color: #df2121;
}
.card__bottom{
     position: absolute;
    /* background: #000; */
    width: 100%;
    left: 0;
    right:0;
    bottom: 5px;
   
}
/* .product__content{
display: flex;
flex-direction: column;
align-items: flex-end;
} */
.addToCart__btn {
    padding: 6px 10px;
    background: #df2121;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 600;
    margin-left: 35px;
}

@media only screen and (max-width:768px) {
    .product__content{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
    margin-bottom: 0;
    }
    .product__content h5 a {
        font-size: 0.8rem;
    }

    .addToCart__btn {
        padding: 5px 5px;
        font-size: 0.7rem;
        justify-content: flex-end;
        
    }
    .product__price{
     margin:5px 10px;
     
    }

} 